*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aquamarine;
    list-style: none;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    position: relative;
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container::before{
    content: '';
    position: absolute;
    height: 330px;
    width: 330px;
    border-radius: 50%;
    background: linear-gradient(#08ffe6,#fcd200)
    
}
container::after{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(#107329,#a8963f)
}
.container .ball-1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #04f504;
    transform: translate(-200px,150px);
    position: absolute;
}
.container .ball-2{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #8e2ff8;
    transform: translate(150px,-220px);
    position: absolute;
}
.container .ball-3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #ffc40f;
    transform: translate(150px,250px);
    position: absolute;
}
.container .box{
    height: 86vh;
    width: 75%;
    padding: 0,20px;
    background: rgba(255,255,255,0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.7);
    backdrop-filter: blur(9px);
}
.container .box nav{
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}
.container .box ul li{
    display: inline-block;
    padding: 0 20px;
}
.container .box nav ul li a{
    font-size: 15px;
    cursor: pointer;
}
.container .box nav ul li a:hover{
    color: #ffc404;
}
.container .box .contains{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    position: relative;
    margin-top: 8%;
    padding-left: 80px;
}
.container .box.contains .section-1{
    position: absolute;
    margin-top: 70px;
}
.container .box.container .section-1 h1{
    font-size: 80px;
}
.container .box.container .section-1 .button{
    margin-top: 50px;
}
.container .box.container .section-1 .button a{
    padding: 10px 20px;
    border: 1px solid #fff;
    cursor: pointer;
    
}
.container .box.container .section-1 .button a:hover{
    background: #fff;
    color: #000;
}
.container .box.container .section-2 .button img{
    width: 600px;
    height: auto;
    transform: translateX(380px);
}
span{
    color: #fc002e;
    font-size: 40px;
}